/* main app section */
.main_section{
    font-family: simpsons_font;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    background: #77abff;
    background-image: url('./imgs/simpsons_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about_us_title{
    color: white;
    margin: 22px 0;
    font-size: 70px;
    font-family: simpsons_font;
    text-shadow:
            4px 4px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 10px black;
}

.top_pane_area,
.bottom_staff_area {
    text-align: center;
    margin: 0 20px 20px auto;
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* pane section */
.panes{
    background-color: lightgoldenrodyellow;
    margin: 20px 10px;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 12px 6px -6px black;
    text-align: left;
}

.person_info{
    margin-left: 24px;
    font-size: 22px;
    color: white;
    text-shadow:
            2px 2px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 5px black;
}

.new_prof_pic{
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 12px 6px -6px black;
}


/* staff section */
.prof_pic{
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 12px 6px -6px black;
    cursor: pointer;
}

.prof_pic:hover {
    box-shadow: 0 4px 8px 0 black,
    0 6px 20px 0 black;
    animation: bounce 2s infinite;
}

.prof_pic:active {
    opacity: 0.8;
    box-shadow: 0 12px 6px -6px gray;
    transform: translateY(4px);
}